
  @media (max-width: 767px) {
    .videos_thumb {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    .videos_thumb .big_img {
      padding-left: 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .videos_thumb .big_img {
      padding-left: 30px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .videos_thumb .big_img {
      padding-left: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .videos_thumb .small_thumb {
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .videos_thumb .small_thumb img {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .videos_thumb .small_thumb img {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .videos_thumb .small_thumb {
      width: 120px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .videos_thumb .small_thumb {
      width: 120px;
    }
  }
  
  @media (max-width: 767px) {
    .videos_thumb .small_thumb_2 {
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .videos_thumb .small_thumb_2 {
      width: 120px;
      bottom: -50px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .videos_thumb .small_thumb_2 {
      width: 120px;
      bottom: -50px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .videos_thumb .small_thumb_2 img {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .videos_thumb .small_thumb_2 img {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .resp_mb50 {
        margin-bottom: 50px;
    }
    .recipe_section {
        padding-bottom: 50px;
    }
  }