.cres_nav {
    background-color: transparent;
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.cres_nav_ttl {
    color: #fff!important;
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.cres_banner {
    background-image: url('https://images.pexels.com/photos/6605652/pexels-photo-6605652.jpeg');
    height: 500px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.ds_font {
    font-family: 'Dancing Script', cursive;
}
.os_font {
    font-family: 'Open Sans', sans-serif;
}
.cres_ttl_banner {
    color: #fff;
    font-size: 60px;
}
.banner_overlay {
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    opacity: 0.2;
}
.crex_txt_banner {
    position: relative;
    z-index: 1;
    width: 100%;
}

/* ======== RECIPE SECTION ======== */
.recipe_section {
    padding: 80px 0;
}
.recipe_img {
    position: relative;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.recipe_img img {
    border-radius: 50%;
}
.update_section {
    padding-bottom: 80px;
    background: #ecf0f3;
    padding-top: 80px;
}
.videos_thumb {
    position: relative;
}
.videos_thumb .big_img {
    padding-left: 100px;

}
.update_ttl {
    font-size: 60px;
    margin-bottom: 25px;
    line-height: 1.1;
}
.videos_thumb .big_img img,
.videos_thumb .small_thumb img,
.videos_thumb .small_thumb_2 img {
    width: 100%;
}
.videos_thumb .small_thumb {
    position: absolute;
    top: 60px;
    left: 0;
    width: 150px;
}
.videos_thumb .small_thumb_2 {
    position: absolute;
    right: 68px;
    bottom: -65px;
    width: 150px;
}

/* ======== FOOTER ======== */
.footer_section {
    background: #000;
    color: #fff;
    padding: 60px 0;
}
.footer_ttl {
    margin-bottom: 20px;
    font-size: 25px;
}
.ul_list_ftr {
    margin-bottom: 0;
    padding: 0;
}
.ul_list_ftr .footer_lists {
    list-style: none;
    margin-bottom: 10px;
}
.ul_list_ftr .footer_lists a {
    text-decoration: none;
    color: rgb(204, 203, 203);
    font-size: 13px;
}
.footer_section p {
    color: rgb(204, 203, 203);
    font-size: 13px;
}
.txt_subsribe {
    background: #ffffffd6;
    transition: all ease 0.2s;
}
.txt_subsribe:focus {
    outline: none;
    border:none;
    box-shadow: none;
    background: #ffffffd6;
}
.btn_cres {
    background: #3eb302;
    transition: all ease 0.2s;
    color: #fff;
    border-radius: 20px;
    padding: 6px 25px;
}

.btn_cres:hover {
    background: #fff;
    color: #3eb302;
    border-color: #3eb302;
}
.btn_cres:focus {
    outline: none;
    box-shadow: none;
}
.dish_img {
    width: 200px;
    margin-bottom: 20px;
}
.ingr_box {
    margin-top: 20px;
}
.dishlists {
    cursor: pointer;
}